html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #133942;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa {
    width: 621px;
    height: 517px;
    background-image: url(../img/quiz-1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    border-radius: 5px;
}
#box{
    height: 100%;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: space-between;
}
#titulo {
    text-align: center;
    color: white;
}
.butoes {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botoes {
    margin-bottom: 10px;
}
#iniciar{
    width: 112px;
    height: 36px;
    border-radius: 5px;
    background: #66D7FB;
    border: none;
    color: #000;
    text-align: center;
    font-size: 12px;
}
#iniciar:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #56a5eb;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
#credito {
    width: 69px;
    height: 23px;
    border-radius: 5px;
    background: #66D7FB;
    border: none;
}
#credito:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #56a5eb;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
#logo{
    width: 200px;
    height: 100px;
}
@media(max-width: 600px){
    .caixa {
        width: 300px;
        background-position: 93% 0%;
    }
    .butoes {
        height: 135px;
        margin-bottom: 10px;
    }
}
